{% extends 'base.html' %} {% block title %} About Spraytans{% endblock %} 

{% block body %}

<div class="about-img-space">
<img class="about-img" src="../static/images/evan-about-img.jpg" alt="about-img">
</div>
<div class="about">
<div class="letter-title"> <strong> LETTER TO MY CLIENTS </strong> </div>
<div class="about-tans"> <p style="text-indent: 25px;"> Hello, and welcome to my soft launch of Spray Tans by Evan! I am thrilled to have you.
    
    For those of you that don’t know me, my name is Evan Boles, and I am highly motivated to get your butt out of that sun! Forgive my language, I’m just very passionate about what I do. It all started when I was 17, tired of working in the restaurant industry, and ready to try something new. I posted an ad on social media and ended up meeting my mentor, and the woman who introduced me to sunless tanning and all of its glory. She and I worked side by side for almost two years in which I perfected my own personal spray tan craft, built my ability to connect with my clients, and fell in love with the idea of spray tans for all, not just women. Men get skin cancer, melanoma, wrinkles, etc. too, you know! I want men to feel just as comfortable and confident taking care of their skin as women do. It’s 2022!
    
    My mission is to bring modern spray tans to the comfort of your own home to achieve what you believe to be your best, tan self whether it be for an event or a pick me up after a hard week. I strive to educate my clients on why sunless tanning is a healthier choice and to emphasize the importance of SPF protection. I vow to put your comfort first and ensure a judge-free zone; I promise you, I have seen it all!
    
    With several shades to choose from, I have a little something for everyone and their individual needs. Please always feel free to reach out to me, for I have an open-door policy and would love to chat:)
    
    I look forward to tanning you!
    <br>
    <br>
    Sincerely your friend,
    <br>
    Evan Marie Boles
</p>
</div>
</div>


{% endblock %}